# --- OS ---
.DS_Store
Thumbs.db

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/
.eggs/
*.egg

# --- Notebooks ---
.ipynb_checkpoints
*.ipynb.json

# --- Environnements ---
.env
.venv/
venv/
ENV/
*.env

# --- Logs & Debug ---
*.log
*.out
*.err

# --- Tests ---
.coverage
.tox/
.pytest_cache/

# --- IDEs ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- Data ---
data/
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.geojson
*.shp
*.db
*.sqlite

# --- Build ---
build/
dist/
*.spec

# --- Streamlit / Cache ---
.streamlit/
.cache/
.vercel
